        <!-- bottom nav -->
@model IEnumerable<BeautyCosmetic.Web.Models.ProductCategoryViewModel>
<link href="~/Assets/client/css/minicartsearch.css" rel="stylesheet" />

<div class="container" id="navbar" style="background-color: #eee;
    padding-left: 50px;
    padding-right: 50px;">
    <nav class="navbar navbar-expand-lg navbar-light justify-content-center" style="background-color:#1f601f;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto text-center">
                <li class="nav-item">
                    <a class="nav-link  active" href="/" style="color:#fff">
                        Trang Chủ
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                @foreach (var category in Model.Where(x => x.ParentID == null))
                {
                    var url = "/" + category.Alias + ".pc-" + category.ID;
                    var titleCategories = Model.Where(x => x.ParentID == category.ID);
                    <li class="nav-item dropdown has-mega-menu" style="position:static;">

                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="@url" role="button" aria-haspopup="true" aria-expanded="false" style="color:#fff">@category.Name</a>
                        <div class="dropdown-menu" style="width:100%">
                            <div class="container">
                                <div class="row w3_kids  py-3">
                                    @foreach (var titleCategory in titleCategories)
                                    {
                                        var titleurl = "/" + titleCategory.Alias + "_pc-" + titleCategory.ID;
                                        var childCategories = Model.Where(x => x.ParentID == titleCategory.ID);
                                        <div class="col-md-3 ">
                                            <span class="bg-light">@titleCategory.Name</span>
                                            @foreach (var childCategory in childCategories)
                                            {
                                                //console.log(childCategory.Name);
                                                var childUrl = "/" + childCategory.Alias + "_pc-" + childCategory.ID;
                                                <a class="dropdown-item" href="@childUrl">@childCategory.Name</a>
                                            }
                                        </div>
                                    }
                                    <div class="col-md-3 ">
                                        <div class="img-categori ">
                                            <a href="#" class="">
                                                <img src="@category.Image" style="height:336px; width:187px;" />
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                }



                <li class="nav-item">
                    <a class="nav-link" href="/" style="color:#fff">Tin Tức</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/lien-he_html" style="color:#fff">Liên Hệ</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/" style="color:#fff">Về Chúng Tôi</a>
                </li>
            </ul>
        </div>
        <div class="block-search-tool" id="search">
            <div class="block-title-tool">
                <span style="display:none">Search</span>
            </div>
            <div class="block-content-tool block-content2" id="keySearchClick_down">
                <div class="form-search">
                    <form action="/tim-kiem" method="get">
                        <div class="box-group">
                            <input type="text" id="txtKeyword" name="keyword" class="form-control border_searchdown input-lg" placeholder="Tìm kiếm sản phẩm..." autocomplete="off">
                            <button class="btn btn-search" id="btnsearch" type="submit"><span></span></button>
                        </div>
                        <div class="box-group" style="display: block">
                            <ul id="search_down" tabindex="0" class="ui-menu ui-widget ui-widget-content ui-front" style="width: 340px;left: 933.5px;display: none;"></ul>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="block-minicart-tool dropdown " id="minicart">
            @*dropdown-toggle*@
            <a class="mini" href="/gio-hang_html" role="button" title="giỏ hàng">
                <span class="cart-icon"></span>
                @*<span class="counter qty">
                        <span class="counter-number counter-number-custom">1</span>
                    </span>*@
            </a>
        </div>


    </nav>
</div>
<!-- //bottom nav -->
